body{
    font-family: "Roboto";
    text-align: center;
}
.carousel-item img{
    height:500px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.carousel-item .carousel-caption p{
    font-size: 18px;
    color: #ffffff;
    word-spacing: 1.5px;
}

.page-footer{
    background-color: #05728f;
    color: white;
}
