<div>
  <h3 class=" section-header text-center">Discusion forum</h3>
  <div class="messaging">
  <div class="inbox_msg">
    <div class="inbox_people">
      <div class="headind_srch">
        <div class="recent_heading">
          <h4>Current Topics </h4>
        </div>
        <div class="srch_bar">
          <div class="stylish-input-group">
            <input type="text" class="search-bar"  placeholder="Create Topic" >
            <span class="input-group-addon">
            <button id="create-topic-btn" type="button"> <i class="fa fa-plus-circle" aria-hidden="true"></i> </button>
            </span> </div>
        </div>
      </div>
      <div class="inbox_chat">
        <div id="1" class="topic_item active_topic" onclick="location.href='#';" style="cursor: pointer;">
          <div class="chat_people">
            <div class="chat_img"> <i class="fa fa-users fa-2x" aria-hidden="true"></i> </div>
            <div class="chat_ib">
              <h5 class="topic_title">Cricket</h5>
              <p>Test, which is a new approach to have all solutions 
                astrology under one roof.</p>
            </div>
          </div>
        </div>
        <div id="2" class="topic_item" onclick="location.href='#';" style="cursor: pointer;">
          <div class="chat_people">
            <div class="chat_img"> <i class="fa fa-users fa-2x" aria-hidden="true"></i> </div>
            <div class="chat_ib">
              <h5 class="topic_title">Badminton </h5>
              <p>Test, which is a new approach to have all solutions 
                astrology under one roof.</p>
            </div>
          </div>
        </div>
        <div id="3" class="topic_item" onclick="location.href='#';" style="cursor: pointer;">
          <div class="chat_people">
            <div class="chat_img"> <i class="fa fa-users fa-2x" aria-hidden="true"></i> </div>
            <div class="chat_ib">
              <h5 class="topic_title">Football</h5>
              <p>Test, which is a new approach to have all solutions 
                astrology under one roof.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mesgs">
      <div class="msg_history">
        <div class="incoming_msg">
          <div class="incoming_msg_img">
             <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> 
             <div class ="sender-name">HD</div>
          </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>Test which is a new approach to have all
                solutions</p>
              <span class="time_date"> 11:01 AM    |    June 9</span></div>
          </div>
          </div>
          <div class="new_user_entered">
            <div class="new_user">
              <p>New user entered to the chat</p>
              <span class="time_date"> 11:01 AM    |    June 9</span> </div>
          </div>
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>Test, which is a new approach to have</p>
                <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
            </div>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>Apollo University, Delhi, India Test</p>
              <span class="time_date"> 11:01 AM    |    Today</span> </div>
          </div>
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>We work directly with our designers and suppliers,
                  and sell direct to you, which means quality, exclusive
                  products, at a price anyone can afford.</p>
                <span class="time_date"> 11:01 AM    |    Today</span></div>
            </div>
          </div>
      </div>
      <div class="type_msg">
        <div class="input_msg_write">
          <input type="text" id="text-message" class="write_msg" placeholder="Type a message" />
          <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
