<form class="contact-us" action="/api/contactus" method="POST">
    <div class="form-group ">
        <label class="contactus-email" for="name">Enter name</label>
        <input type="text" class="form-control" name ="name" placeholder="your name">
      </div>
    <div class="form-group ">
      <label class="contactus-email" for="email">Enter Email address</label>
      <input type="email" class="form-control" name ="email" placeholder="your email">
    </div>
    <div class="form-group">
      <label class="contact-us-query"for="message"> Enter Your Query</label>
      <textarea class="form-control" name = "message" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="alert alert-info" role="alert" id="msg1">
        <%=msg%>
    </div>
</form>