<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p>Copyright &copy; 2019, News 24*7, All Rights Reserved</p>
    </div>
    <!-- Copyright -->
  
</footer>