<html ang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Media Admin</title>
        <!-- jQuery needs to be placed before bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap Start -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- Bootstrap End -->
    
    </head>
    <body>
        <div class="container">
            <header class="row"> 
                <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
                    <a class="navbar-brand" href="#">Update 24*7 Admin</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                            <a class="nav-link" href="/">Sing In</a>
                            </li>
                        </ul>
                    </div> 
                </nav>
            </header>
            <!-- <br> tag needed for fixed-top  -->
            <br><br><br><br>
            <main class="row">
                <div class="col-md-6">  
                    <center>
                        <h5>REGISTER</h5>    
                    </center>
                                   
                    <form action="/api/auth/register" method="POST">
                        <div class="form-group">
                            <label for="name" >Name</label>
                            <input type="text" id="name" name="name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="password" >Password</label>
                            <input type="text" id="password" name="password" class="form-control" required />
                        </div>
                        <hr />
                        <center>
                                <button type="submit" class="btn btn-info">Register</button>
                                <button type="reset" class="btn btn-warning">RESET</button>
                        </center>
                        <hr />
                        <div class="alert alert-info" role="alert" id="msg1">
                            <%=msg%>
                        </div>
                    </form>                       
                </div>
                <div class="col-md-6"> 
                        <center>
                            <h5>LOG IN</h5>
                        </center>
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <form action="/api/auth/login" method="POST">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" name="email" class="form-control" required />
                                    </div>
                                    <div class="form-group">  
                                        <label for="password" >Password</label>
                                        <input type="password" id="password" name="password" class="form-control" required />
                                    </div>
                                    <hr />
                                    <center>
                                            <button type="submit" class="btn btn-success">Log In</button>
                                            <button type="reset" class="btn btn-danger">RESET</button>
                                    </center>
                                    <hr />
                                    <div class="alert alert-info" role="alert" id="msg2">
                                            <%=invalid%>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </main>
        </div>
    </body>
</html>