<div class="incoming_msg">
    <div class="incoming_msg_img">
       <img src="https://ptetutorials.com/images/user-profile.png" alt="Annonymous User">
    </div>
    <div class="received_msg">
      <div class="received_withd_msg">
        <p><%= message.text%></p>
        <span class="time_date"> <%= message.timestamp%></span></div>
    </div>
  </div>